# Ignorer tous les fichiers .dta partout dans le projet
**/*.dta

# Ignorer tous les fichiers .tab
**/*.tab

# Ignorer tous les fichiers .csv
**/*.csv

# Ignorer tous les fichiers Excel (.xlsx et .xls)
**/*.xlsx
**/*.xls

# Ignorer tous les fichiers RData
**/*.RData

# Ignorer tous les dossiers nommés data, à n'importe quel niveau
**/data/
*.zip

**/*.docx
**/*.docs
docs/*.pdf
config/credentials.json
"scripts/01_utils/temp_code.R"
"scripts/04_calibration/QUARTERLY_WEIGHTING/2025/T3/180X_1D - Copie/"
"scripts/check_calibration.r"
